<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/logo.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box" *ngIf = "verfyStep1">
    <form (ngSubmit)="verify()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <h1 color = "#fff"> Verify Phone Number </h1>
            <p> We will send you a SMS message to verify your phone number. Please include the country code.</p>
            <ion-input class = "phoneInput" type="tel" placeholder="Phone Number" name="tel" [(ngModel)]="credentials.telephone" required></ion-input>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Verify</button>
        </ion-col>
      </ion-row>

    </form>
  </div>

  <div class="login-box" *ngIf = "verfyStep2">
    <form (ngSubmit)="LoginUsingVerifyCode()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <h1 color = "#fff"> Enter Verification Number </h1>
            <ion-input class = "phoneInput" type="tel" placeholder="" name="tel" [(ngModel)]="credentials.verification" required></ion-input>
            <p>{{sendState}}</p>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login &nbsp; <ion-spinner color = "light" *ngIf = "loginAction"></ion-spinner> </button>
          <br/><br/>
          <div class="col-sm-12" (click) = "retryVerificationNumber()"> Resend SMS </div>
          <br/>
          <div class="col-sm-12" (click) = "reenterNumber()"> Re-enter Number </div>
        </ion-col>

      </ion-row>

    </form>
  </div>
</ion-content>
