<ion-header>
  <ion-navbar>

    <ion-row>
    <ion-col col-3>
    <button class = "menutotoggle" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <span class="menutotogglecut"></span>
    </button>
  </ion-col>

  <ion-col col-6>
    <ion-title class = "makeAdjust" align-title="center" mode="ios"> <img src = "assets/logo.png" width = "80px"> </ion-title>
  </ion-col>

	<ion-col col-3 text-right (click)="editItems($event)" *ngIf = "articleList.length > 0" class = "editIcoWrap">
		<span class="editIco"><ion-icon name="edit"></ion-icon> Edit</span>
	</ion-col>
	
</ion-row>
  </ion-navbar>
</ion-header>

<ion-content>

	<div text-center *ngIf = "articleList.length > 0">

		<h2> My Saved Articles </h2>
		<p> Saved articles from the main post to be read later. </p>

	</div>
	
	<div id = "empty_state" text-center *ngIf = "articleList.length == 0">

		<img src = "assets/open-box.png">
		<h1> No Articles Saved! </h1>
		<p> Get started saving articles by selecting the star icon <ion-icon name = "star-outline"></ion-icon> next to the article </p>

	</div>
	
	<ion-grid>
		<!--<div @itemState *ngFor="let item of articleList; let i = index">-->
		<div *ngFor="let item of articleList; let i = index">
			<ion-row class = "article_group">
			
				<ion-col col-11 (click)="pushPage(item)">
					<h2 class="post_title item-text-wrap" text-wrap>{{ getTitle(item) }}</h2>
					<ion-note class="post-date">{{ getDate(item) }}</ion-note>
				</ion-col>
				
				<ion-col *ngIf = "editAvailable" (click) = "removeArticle(item, $event, i)" col-1>
					<ion-icon name="close" class = "removeSection"></ion-icon>
				</ion-col>
				
			</ion-row>
		</div>
	</ion-grid>

</ion-content>
