page-list {
	
	.removeSection{
		padding-top:10px;
		font-size:30px;
	}
	
	.article_group{
		border-bottom:1px solid #eee;
		padding:12px;
	}
	
	.editIco{
		color: #1c3F95;
		font-weight: 500;
		font-family: "Roboto", "Helvetica Neue", sans-serif;
	}
	
	.editIcoWrap{
		padding-top: 20px;
	}
	
	#empty_state{
		padding:10px;
		margin:20% 15%;
	}
	
	#empty_state h1{
		color:#1c3F95;
	}
	
	#empty_state p{
		color:#000;
		font-size:18px;
	}
	
}
