<ion-header id = "mainHeader">
  <ion-navbar>

    <ion-row>
    <ion-col col-5 no-padding>
    <button class = "menutotoggle" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <span class="menutotogglecut"></span>
    </button>
  </ion-col>

  <ion-col col-2 no-padding>
    <ion-title class = "makeAdjust" align-title="center" mode="ios"> <img src = "assets/logo.png" width = "80px"> </ion-title>
  </ion-col>

  <ion-col col-5 no-padding text-right>
    <button ion-button right (click) = "openModal({charNum: 1})" class="toggleSearch">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-col>
</ion-row>
  </ion-navbar>
</ion-header>


<ion-row class = "notificationAlert" *ngIf = "show_alert == true">
    <ion-icon name="alert"></ion-icon>
    <ion-col> {{alert_message}} </ion-col>
</ion-row>


<super-tabs class = "supertabs" toolbarColor="light" toolbarBackground="dark" indicatorColor="light" badgeColor="light">
  <super-tab [rootParams]="{id:0}" [root]="page_staff" id = "staff_tab" title="Staff Updates"></super-tab>
  <super-tab [rootParams]="{id:1}" [root]="page_news" id = "news_tab" title="News Feed"></super-tab>
</super-tabs>




