page-home {
  
    .scroll-content{
      top:0px;
    }
  
    super-tabs-container  {
      height: calc(100%)! important;
    }
  
    .makeAdjust img{
      position: absolute;
      top: 3px;
      left: -6px;
      width:80px;
      max-width:80px;
    }
    
  }
  