page-welcome {
  #startApp{
    position: absolute;
	top: 10px;
	z-index: 9;
	margin: 10px auto;
	right: 9px;
	width: auto;
	background: none;
	color: #27295d;
	height: 42px;
	box-shadow: none;
	font-size: 11px;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 50px;
  }
  
	.swiper-slide img{
		width:200px;
	}
	
	h1{
		color:#27295d;
	}
	
	p{
		font-size:15px;
		padding:0px 25px;
	}
	
	.swiper-slide{
		padding:0px 10px;
		background: #fff;
	}
}
