<ion-header class = "postHeader">
  
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  
    
    <ion-item>
      <ion-label>Enabled Push Notifications</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>

    
    <ion-list radio-group>

      <ion-list-header>
        Theme Settings
      </ion-list-header>
    
      <ion-item>
        <ion-label>Light Theme</ion-label>
        <ion-radio checked="true" value="light"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Dark Theme</ion-label>
        <ion-radio value="rust" value="dark"></ion-radio>
      </ion-item>
    
    </ion-list>
  

  </ion-content>