page-staff {
    
        .cardDownloading{
            position: fixed;
            top: 50%;
            background: #fff;
            z-index: 999999;
            width: 80%;
            left: 0px;
            margin: 0px 10%;
            padding: 15px;
        }
        
        .cardDownloading:after{
            position:fixed;
            z-index:999;
            background:rgba(0,0,0,0.8);
            width:100%;
            height:100%;
            left:0px;
            top:0px;
        }
        
      .article_preview_wrap{
        border-bottom: 1px solid #eee;
        padding:10px 0px;
        position: relative;
      }
      
      .postCategory{
        font-weight:400;
        font-size: 11px;
        text-transform: uppercase;
      }
    
      .color_blue{
        color:#0081ff;
      }
    
      .color_green{
        color:#0ad168;
      }
    
      .color_red{
        color:#ffa200;
      }
    
      .color_purple{
        color:purple;
      }
        
        .segment-md .segment-button{
            line-height: 5rem;
            height:5.2rem;
        }
      
        .saveArticleIcon{
            position: absolute;
            font-size:23px;
            bottom: 0px;
            right: 20px;
            z-index:999;
        }
    
      .scroll-content{
        top:0px;
      }
    
    }