<ion-content>
	
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
  
    <ion-grid no-padding>
	
		<h1 class = "specialH1"> {{headingName}} </h1>
		
		<div *ngFor="let item of staff_items; let i = index" no-padding no-margin>
		
			<div class = "card-background-page card-special" no-padding *ngIf = "i == 0" (click)="pushPage(item)">
				<ion-card no-padding no-margin class = "fullwidth">
					<img src="{{item.post_image}}"/>
					<div class="card-title" [innerHTML]="item.title"></div>
				</ion-card>
				
			</div>
			
      <ion-row ngClass = "article_preview_wrap {{ checkCardSpecial(item.date) }}" *ngIf = "i > 0">
        
		<ion-col (click)="pushPage(item)" *ngIf = "item.post_image" col-4 no-padding class="post-image" [ngStyle]="{'background-image': 'url(' + item.post_image + ')' }">

        </ion-col>

        <ion-col *ngIf = "item.post_image" (click)="pushPage(item)" col-7 padding class="item-text-wrap">
          <h2 class = "post_title" [innerHTML]="item.title"></h2>
          <ion-note class="post-date"> <ion-icon name="calendar"></ion-icon> {{convertDate(item.date)}}</ion-note>
		  
        </ion-col>

        <ion-col *ngIf = "!item.post_image" (click)="pushPage(item)" col-11 padding class="item-text-wrap">
          <div class = "postCategory" [innerHTML] = "item.category"></div>
          <h2 class = "post_title" [innerHTML]="item.title"></h2>
		  
			<ion-note class="post-date"> <ion-icon name="calendar"></ion-icon> {{convertDate(item.date)}}	</ion-note>
			</ion-col>

        <ion-col col-1>
          <ion-icon *ngIf = "item.savedState == -1" (click) = "saveArticle(item, $event)" name="star-outline" class = "saveArticleIcon ext-right"></ion-icon>
		  
		  <ion-icon *ngIf = "item.savedState != -1" (click) = "removeArticle(item, $event, item.savedState)" name="star" class = "saveArticleIcon color_blue ext-right"></ion-icon>
        </ion-col>

      </ion-row>
      </div>

		
	  <div class = "groupLoader" *ngIf="staffloadingActive == true" >

        <ion-row no-padding class = "article_preview_wrap">
          <ion-col col-4 no-padding class="post-image"> <span class="load_fill"></span> </ion-col>

          <ion-col col-7 padding class="item-text-wrap">
            <div class = "postCategory"> <span class="load_fill load_fill_category"></span> </div>
            <h2 class = "post_title"> <span class="load_fill"></span> <span class="load_fill"></span> </h2>
            <ion-note class="post-date"> <span class="load_fill"></span> </ion-note>
          </ion-col>

        </ion-row>

        <ion-row no-padding class = "article_preview_wrap">
          <ion-col col-4 no-padding class="post-image"> <span class="load_fill"></span> </ion-col>

          <ion-col col-7 padding class="item-text-wrap">
            <div class = "postCategory"> <span class="load_fill load_fill_category"></span> </div>
            <h2 class = "post_title"> <span class="load_fill"></span> <span class="load_fill"></span> </h2>
            <ion-note class="post-date"> <span class="load_fill"></span> </ion-note>
          </ion-col>

        </ion-row>

        <ion-row no-padding class = "article_preview_wrap">
          <ion-col col-4 no-padding class="post-image"> <span class="load_fill"></span> </ion-col>

          <ion-col col-7 padding class="item-text-wrap">
            <div class = "postCategory"> <span class="load_fill load_fill_category"></span> </div>
            <h2 class = "post_title"> <span class="load_fill"></span> <span class="load_fill"></span> </h2>
            <ion-note class="post-date"> <span class="load_fill"></span> </ion-note>
          </ion-col>

        </ion-row>

      </div>


      <ion-infinite-scroll (ionInfinite)="doInfiniteStaff($event)" threshold="35%">
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
     </ion-infinite-scroll> 

    </ion-grid>
	
	<div *ngIf = "moreArticlesAlert" class = "articlesMoreHover"> New Staff Articles Available </div>

</ion-content>
