<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title class="color_blue">Staff Portal Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card class = "menucard" no-padding no-margin>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/user.png">
        </ion-avatar>
        <h2>Welcome, </h2>
        <p class = "text800">{{username}}</p>
      </ion-item>

    </ion-card>


    <ion-list>
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <button (click)="logout()"></button>-->
      <ion-item (click)="openPage2('home')" menuClose> <ion-icon class = "menu_icon" name="ios-home-outline"></ion-icon> Home </ion-item>
      <ion-item (click)="openPage2('list')" menuClose > <ion-icon class = "menu_icon" name="star-outline"></ion-icon> My List </ion-item>
      <ion-item (click)="checkForUpdate()" menuClose> <ion-icon class = "menu_icon" name="ios-cloud-outline"></ion-icon> Check For Updates </ion-item>
      
      <ion-item (click)="goToUpdate()" *ngIf="isUpdateAvailable" menuClose> Install Update </ion-item>
      <!--<ion-item (click)="openPage2('settings')" menuClose> Settings </ion-item>-->

      <ion-item (click)="logout()" menuClose > <ion-icon class = "menu_icon" name="log-out"></ion-icon> Sign Out </ion-item>

    </ion-list>
    <span class = "versionsec"> V <span [innerHTML] = "version_code"></span> <br/> {{playerID}} </span>
    
  </ion-content>

</ion-menu>

<div *ngIf = "isUpdateAvailable">
    <h4 class = "boldme"> Application Update Available </h4>
    <span [innerHTML] = "progressStatus"></span>
</div>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
