// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.versionsec{
  padding:10px 20px;
  color:#9d9d9d;
}

// Buttons

.regButton{
  height: 5.6rem;
border-radius: 35px !important;
}

.button {
  height: 5.6rem;
border-radius: 35px !important;
}

.signup-col button{
  height: 5.6rem;
border-radius: 35px !important;
}

.toolbar-background-md {
  border-color: #b2b2b2;
  background: #fff;
}

.card-background-page {



ion-card {
  position: relative;
  text-align: center;
  //min-height: 150px;
  max-height: 300px;
  min-height: 140px;

  background: linear-gradient(270deg, #e3e3e3, #9d9d9d);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

ion-card:after {
  content: '';
  left:0;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  width:100%;
  height:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

.card-title {
  position: absolute;
  bottom: 20px;
  padding: 16px;
  font-size: 22px;
  width: 100%;
  font-weight: 300;
  color: #fff;
  text-align: left;
  z-index: 9;
}

.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
}

}

.fullwidth{
width:100%;
}

h2.post_title{
color:#1c3F95;
font-weight: 500;
margin: 0px;
padding: 0px;
font-size: 18px;
}


.saveArticleIcon{

}

.post-date{
  font-size:12px;
  color:#999;
}

.post-image{
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 40%;
background-color: #eee;
}

.mainContent{
}

#mainHeader{
  height:67px;
  margin-top:0px;
}

.bar-button-menutoggle-md ion-icon{

  font-size:2.8rem;

}

.makeAdjust img{
  left: -6px;
}

.toggleSearch{
background: none;
box-shadow: none;
color:#1c3F95;
padding-top:0px;
font-size: 24px;
margin-top: 0px;
}

.toggleSearch:hover{
background: none;
background-color: none !important;
box-shadow: none;
}

.menutotoggle{
color:#1c3F95;
position: relative;
padding-top:12px;
}

.menutotogglecut{
position: absolute;
top: 28px;
background: #f8f8f8;
width: 10px;
height: 2px;
right: 10px;
}

.item-text-wrap{
  overflow: initial;
  white-space: initial;
}

.btnBack{
float: left;
position: absolute;
padding: 0px;
background: none;
top: 15%;
z-index: 99;
padding: 10px;
font-size: 16px;
}

.btnSearch{
float: left;
position: absolute;
padding: 0px;
background: none;
top: 15%;
z-index: 99;
padding: 10px;
font-size: 16px;
right: 5%;
color: #000;
box-shadow: none;
}

.makeAdjust{

}

.notificationAlert{
margin-top: 12px;
padding: 10px;
background: red;
color: #fff;
position: relative;
}

.notificationAlert .icon{
position: absolute;
right: 15px;
font-size: 39px;
opacity: 0.7;
top: 10%;
}

/* Menu */
.header-md::after{
  display:none;
}

.menu-inner .header .toolbar-background-md{
  background-color: #0081ff;
}

.menu-inner .toolbar-title-md{
  color:#fff;
}

.menu-inner .scroll-content{
    top:0px;
}

.menucard{
  width:100%;
}

.menucard .item-md{
  background: #eee;
}

.menu_icon:before{
  color:#0081ff;
  margin-right:20px;
  font-size: 23px;
}

.groupLoader{
  padding-top:7px;
  padding-left:15px;
}

.groupLoader .post-image .load_fill{
  height:100%;
}

.load_fill{
  width: 100%;


  background: linear-gradient(270deg, #e3e3e3, #9d9d9d);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;

  height: 10px;
  float: left;
  position: relative;
  margin-bottom: 7px;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  25%{background-position:50% 50%}
  50%{background-position:100% 50%}
  75%{background-position:50% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  25%{background-position:50% 50%}
  50%{background-position:100% 50%}
  75%{background-position:50% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  25%{background-position:50% 50%}
  50%{background-position:100% 50%}
  75%{background-position:50% 50%}
  100%{background-position:0% 50%}
}

.load_fill_category{
  width: 60px;
}

.switchIcons{
  margin-top: 8px;
  position: absolute;
  right: 15px;
  width:24px;
}

.switchIconsBg{
  background: #1c3f95;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
margin-bottom:0px;
  color:#fff;
  
  top: 66px;
  width: 100%;
  left: 0px;
  z-index: 99;
}

.switchIconsBg .segment-md .segment-button{
  color:#fff;
}

super-tabs{
    margin-top: 65px;
}

super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button .badge {
  top: 14px;
}

.toolbar-md-dark .toolbar-background-md {
  background: #1c3f95;
}
.specialH1{
  padding: 10px;
  background:#d3d3d3;
  color: #142d6b;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size:17px;
  font-weight:800;
}

.card-special{
  padding: 10px !important;
  color:#142d6b;
  background: #d3d3d3;
}

.card-special h2.post_title{
  color:#142d6b;
}

.card-special .postCategory span{
  background:#0081ff;
  padding:5px;
  float:none;
  color:#fff;
}

.card-special .postCategory{
  margin-bottom:8px;
}

.card-special{
  border-bottom: 1px solid rgba(113, 113, 113, 0.12) !important;
  border-top: 0px !important;
}

.card-special .post-date{
  color:#4b4b4b;
}

.card-special .saveArticleIcon{
  right:25 !important;
}

.articlesMoreHover{ 
  position: fixed;
  bottom: 100px;
  width: 170px;
  background: #142d6b;
  z-index: 999;
  color: #fff;
  border-radius: 27px;
  text-align: center;
  padding: 10px 0px;
  margin: 0px 28%;
  font-weight: bold;
}