page-search {
  
    .searchBg{
      background-image: url(../assets/jj-ying-236821.jpg);
      background-size: cover;
    }
  
    .searchBg:after{
        content:'';
        background: rgba(0,0,0,0.7);
        left:0px;
        top:0px;
        height: 100%;
        width:100%;
        position: fixed;
        z-index: 0;
    }
  
    .searchGroup{
        padding:10px 40px;
        z-index: 3;
        position: relative;
    }
  
    .searchGroup h3, .searchGroup p{
      color:#fff;
    }
  
    .item-md{
      background-color: #fff;
      margin:0px auto 2px;
      width:95%;
      padding: 10px 21px;
    }
  
    .list_heading{
      color:#fff;
      margin:10px auto;
      border-bottom:0px solid rgba(255,255,255,0.2);
      padding-bottom:10px;
      width:95%;
    }
  
    .text_small_heading{
      color: #fff;
      margin: -10px auto 10px;
      padding-bottom: 10px;
      width: 95%;
    }
  
    .list-md .item-block .item-inner{
      border:0px;
    }
  
    .resultsLoader{
      float:right;
      stroke: #fff;
    }
  
    ion-spinner {
  
      * {
      stroke: white !important;
      }
  
      &.spinner-circles circle,
      &.spinner-bubbles circle,
      &.spinner-dots circle {
        fill: white !important;
      }
  
    }
  
  }
  